<div class="uk-container">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
            <ul class="uk-navbar-nav">
                <li class="uk-active">Estoque da Lojinha!</li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a routerLink="/product"><span class="uk-icon uk-margin-small-right"
                            uk-icon="icon: plus"></span>
                        Adicionar</a></li>
                <li class="uk-active"><a (click)="signout()"><span class="uk-icon uk-margin-small-right"
                            uk-icon="icon: sign-out"></span>
                        Sair</a></li>
            </ul>
        </div>
    </nav>
</div>
<br />