<app-navbar></app-navbar>
<div class="uk-container">
    <div class="uk-overflow-auto">
        <app-loading [data]="products"></app-loading>
        <table *ngIf="(products | async )?.length > 0"
            class="uk-table uk-table-striped uk-table-hover  uk-table-middle uk-table-responsive">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | async">
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>
                        <a (click)="update(product)">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: pencil"></span>
                        </a>
                        <a (click)="delete(product)">
                            <span class="uk-icon uk-margin-small-right" uk-icon="icon: trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>